<%= render 'banner' %>
<div class="container mt-4">
  <h2>Watch Lists</h2>
  <div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'default_image_url' %>)">
      <%= link_to list_path(list), class: 'card-link' do %>
        <div class="card-content">
          <span class="card-title"><%= list.name %></span>
        </div>
      <% end %>
      <%= link_to list_path(list), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'delete-icon' do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
  <% end %>
</div>
</div>
