<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<%# SHOW PAGE BANNER %>
<div class="list-cover-navbar" style="background-image: url(<%= @list.photo.attached? ? url_for(@list.photo) : 'default_image_url' %>);">
  <div class="container">
    <h1 class="list-title"><%= @list.name %></h1>
    <div class="movie-count">
      <%= pluralize(@list.bookmarks.count, 'Movie') %>
    </div>
  </div>
</div>

<%# SHOWING ALL THE MOVIES BEING BOOKMARKED %>

<div class="container mt-4 show-page-content">
<%# ADD BOOKMARK FORM %>
  <div class="grid-container">
    <% if @list.bookmarks.any? %>
      <% @list.bookmarks.each do |bookmark| %>
        <div class="grid-item">
          <div class="card movie-card">
            <%= image_tag bookmark.movie.poster_url, class: 'card-img-top', alt: bookmark.movie.title if bookmark.movie.poster_url.present? %>
            <div class="card-body">
              <h5 class="card-title"><strong><%= bookmark.movie.title %></strong></h5>
              <p class="card-text"><%= bookmark.movie.overview %></p>
              <div class="d-flex justify-content-between align-items-center">
                <p class="card-text">"<em><%= bookmark.comment %></em>"</p>
                <%= link_to bookmark_path(bookmark), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No bookmarks yet.</p>
    <% end %>
    <div class="grid-item">
      <div class="card mb-4">
        <div class="card-header">
          <h2>Add Bookmark</h2>
        </div>
        <div class="card-body">
          <%= simple_form_for [@list, @bookmark] do |f| %>
            <div class="form-group">
              <%= f.input :movie_id, collection: @movies&.map { |movie| [movie['title'], movie['id']] }, prompt: "Choose a movie", label: 'Movie', input_html: { class: 'form-control' } %>
            </div>
            <div class="form-group">
              <%= f.input :comment, label: 'Comment', input_html: { class: 'form-control' } %>
            </div>
            <div class="form-group">
              <%= f.button :submit, 'Create Bookmark', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
