<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "watchvault-logo.png", alt: "WatchVault Logo", class: "navbar-logo" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-6 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="overarching-container d-flex flex-column flex-grow-1">
  <div class="position-relative h-100 w-100 overflow-hidden d-flex align-items-center justify-content-start custom-bg">
    <div class="container position-relative z-2 text-white px-4 px-md-5">
      <div class="row align-items-center">
        <!-- Left Column -->
        <div class="col-lg-6 text-center text-lg-start">
          <div class="mb-3">
            <%= image_tag "watchvault-logo.png", alt: "WatchVault Logo", class: "logo-img img-fluid" %>
          </div>
          <h1 class="fw-bold custom-h1">
            Discover and Manage Your Favorite Movies
          </h1>
          <p class="lead">
            <span id="typed-text">Plan your movie nights effortlessly.</span><span class="typed-cursor" aria-hidden="true">🪄</span>
          </p>
          <div>
            <%= link_to "Login to Get Started", new_user_session_path, class: "btn btn-gradient btn-lg mt-3 px-4 py-2" %>
          </div>
        </div>

        <!-- Right Column -->
        <div class="col-lg-6 text-center mt-4 mt-lg-0">
          <div class="image-stack">
            <div class="image-wrapper">
              <%= image_tag "movie1.jpg", alt: "Movie Poster 1", class: "extra-img img-fluid" %>
            </div>
            <div class="image-wrapper">
              <%= image_tag "movie2.jpg", alt: "Movie Poster 2", class: "extra-img img-fluid" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
